{% load staticfiles %}
<!--<!DOCTYPE html>
<html lang="en">
<head>
	<title>Probot_The Unique Chatbot</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="../../../static/styling.css">


</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid" style="padding-left: 1%; margin: 0.5%;">
		<div class="navbar-header">
			<button type = "button" class = "navbar-toggle" 
		       data-toggle = "collapse" data-target = "#myNavBar" style="margin-top: 17px;">
		       <span class = "sr-only">Toggle navigation</span>
		       <span class = "icon-bar"></span>
		       <span class = "icon-bar"></span>
		       <span class = "icon-bar"></span>
		    </button>
			<ul class="nav navbar-nav name" id="ul1">
				<li><a href="#">HOME</a></li>
			</ul>
		</div>

		<div class="collapse navbar-collapse" id="myNavBar">
			<ul class="nav navbar-nav navbar-right" id="ul1">
				<li><a href="#experience">ANSWER</a></li>
				<li><a href="#education">DESCRIPTION</a></li>
				<li><a href="#achievements">DEVELOPERS</a></li>
				<li><a href="#skills">FAQs</a></li>
				<li><a href="#contactme">CONTACT US</a></li>
			</ul>
		</div>	
	</div>	
</nav>


<div id="pback">
	<span id="dp">
		<div class="container-fluid" style="font-family: ISOCPEUR, sans-serif; margin: 4px 0px 0px 0px; color: #06325b;background-color: white">
	<div class="container-fluid" style="margin: 10px 0px 80px 0px;" id="logos">
		
		<div style="padding-left: 15%">
		
		</div>
	</div>

	<div style="text-align: center;">
		<h1 style="font-size: 300%; ">I can solve your Problem :)</h1>
		<br>
<!--Form starts here-->

		<!--<div style="text-align: center">
		<form class="form-horizontal" style="font-size: 150%;" action="/polls/submit-query" method="POST">
		    <div class="form-group">
		      	<label class="col-sm-2"></label>
		      	<label class="control-label col-sm-2" for="inputlg">Your Query :</label>
		      	<div class="col-sm-5">
		        	<textarea id="some-id" name="some-name" class="form-control" placeholder="QUERY.....?????" rows="8"></textarea>
		      	</div>
		    </div>
		    <div class="form-group">        
		    	<div class="col-sm-offset-2 col-sm-6">
		        	<button type="submit" id="btn btn-default">submit</button>
		      	</div>
		    </div>
		 </form>
	</div>
</div>
</div>
	</span>
</div>

<div style="background-color:#deeaf4 "><br /> <div id="text">Hello! I'm a probot</div></div>
<div id="bio1" style="background-color:#deeaf4"><br /><p id = "bio2"></p><br /> </div>

<div id="ans" class="topics">
	<span id="experience">ANSWER</span>
</div>
<div style="background-color: #deeaf4; text-align:center;">
<!--Output Section of Django-->

	<!--<br /><br /><br /><p> {% if answer %}{{ answer }}{% else %}Here Your answer will be displayed{% endif %}</p><br /><br /><br />
<div style="text-align: center;"><a href="">Press this If you have another Question</a></div>
<br/><br/><br/><br/>
</div>

<div class="topics">
	<span id="education">DESCRIPTION</span>
</div>
<div style="background-color: #deeaf4; text-align:center;">
	<br /><br /><br /><br /><br /><br />
	<span>Our Chatbot is very Nice so please try it.......</span>
	<br /><br /><br /><br /><br /><br />
</div>



<div id="yes">
<div id="achievements"><br /><br /><br /><span class="categories" >DEVELEPORS <br /> <br /></span>

    <span class="one"><h1>Nidhin Harilal</h1></span>
    <span class="two"><h1>Vishnu Karthikeya</h1></span>
    <div style="margin-top: 90px;">
    <span class="one"><h1>Mrinal Anand</h1></span>
    <span class="two"><h1>Kishen N Gowda</h1></span>
    </div>
    <div style="margin-top: 185px;">
    <span class="one"><h1>Rushali Saxena</h1></span>
    </div>
<br /><br /><br /><br /><br /><br /></div>
</div>

<div class="topics">
	<span id="skills">FAQs</span>
</div>
<div style="background-color: #deeaf4; text-align:center;">
	<br /><br /><br /><br /><br /><br />
<p> How is this CHatbot made ?</p>
<p> By Brains</p>
<p> How this chatbot works?</p>
<p> By many lines of lazy codes</p>

<br /><br /></div><br /><br />
<div id="contactme">
<div class="container-fluid" style="font-family: ISOCPEUR, sans-serif; margin: 4px 0px 0px 0px; color: #06325b;background-color: white">
	<div class="container-fluid" style="margin: 10px 0px 80px 0px;" id="logos">
		<h1 style="font-size: 400%; text-align: center; ">Contact Us</h1><br /><br /><br /><br />
		<div style="padding-left: 15%">
		<abbr title="Facebook"><a href=""><img src="../../../static/fb.png" height="55" width="70" alt="FB Icon"></a></abbr>
		<abbr title="LinkedIn"><a href=""><img src="../../../static/linkedin.png" height="55" width="55" alt="In icon"></a></abbr>
		<abbr title="IIT Gandhinagar"><a href="#contact"><img src="../../../static/home.jpg" height="50" width="50" alt="Hostel Icon"></a></abbr>
		<abbr title=""><a href="#"><img src="../../../static/gmail.ico" height="55" width="55" alt="Email Icon"></a></abbr>
		<abbr title=""><a href="#"><img src="../../../static/mob.png" height="45" width="45" alt="Mob Ico"></a></abbr>
		</div>
	</div></div>

	<div style="text-align: center;">
		<h1 style="font-size: 300%; ">Comments/Suggestions about this webpage</h1>
		<br>
		<div style="text-align: center;">
		<form class="form-horizontal" action="mailto:nidhin.harilal@iitgn.ac.in" method="post" enctype="text/plain" style="font-size: 150%;">
		    <div class="form-group">
		      <label class="col-sm-2"></label>
		      <label class="control-label col-sm-2" for="usr">Name:</label>
		      <div class="col-sm-5">
		        <input type="text" class="form-control" id="usr" placeholder="Enter name">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="col-sm-2"></label>
		      <label class="control-label col-sm-2" for="email">Email:</label>
		      <div class="col-sm-5">
		        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="col-sm-2"></label>
		      <label class="control-label col-sm-2" for="inputlg">Feedback:</label>
		      <div class="col-sm-5">
		        <textarea class="form-control" placeholder="Enter Feedback" rows="8"></textarea>
		      </div>
		    </div>
		    <div class="form-group">        
		      <div class="col-sm-offset-2 col-sm-6">
		        <button type="submit" class="btn btn-default">Submit</button>
		      </div>
		    </div>
		  </form>
	</div>
</div>
</div>
</body>
</html>   




<!DOCTYPE html>
<html lang="en">
<head>
	<title>Probot_The Unique Chatbot</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="styling.css">
<link href='https://fonts.googleapis.com/css?family=Nanum Brush Script' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Concert One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Barrio' rel='stylesheet'>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid" style="padding-left: 1%; margin: 0.5%;">
		<div class="navbar-header">
			<button type = "button" class = "navbar-toggle" 
		       data-toggle = "collapse" data-target = "#myNavBar" style="margin-top: 17px;">
		       <span class = "sr-only">Toggle navigation</span>
		       <span class = "icon-bar"></span>
		       <span class = "icon-bar"></span>
		       <span class = "icon-bar"></span>
		    </button>
			<ul class="nav navbar-nav name" id="ul1">
				<li><a href="#">HOME</a></li>
			</ul>
		</div>

		<div class="collapse navbar-collapse" id="myNavBar">
			<ul class="nav navbar-nav navbar-right" id="ul1">
				<li><a href="#education">DESCRIPTION</a></li>
				<li><a href="#achievements">DEVELOPERS</a></li>
				<li><a href="#skills">FAQs</a></li>
				<li><a href="#contactme">REVIEW US</a></li>
			</ul>
		</div>	
	</div>	
</nav>
<div id="pback">
	<img src="docubot.gif" align="padding-left";>
	<span style="background-image: url('bg.png');"> 
		
		<div class="container-fluid" style="font-family: ISOCPEUR, sans-serif; margin: 4px 0px 0px 0px; color: #06325b;background-color: white">
	<div class="container-fluid" style="margin: 10px 0px 80px 0px;" id="logos">
		
		<div style="padding-left: 15%">
		
		</div>
	</div>
		<h1 style="font-family: 'Concert One';font-size: 300%; ">Hi! I am Probot.....</h1>
	<div id = "nice"><form class="form-horizontal"  enctype="text/plain" style="font-size: 150%;">

		    <div class="form-group">
		      <label class="col-sm-2"></label>
		      <label class="control-label col-sm-2" for="inputlg"><p> {% if answer %}{{ answer }}{% else %}Here Your answer will be displayed{% endif %}</p></label>
		      <div class="col-sm-5">
		        <textarea class="form-control" placeholder="" rows="5"></textarea>
		      </div></div></form>

	<div style="text-align: center;">
<!--Form starts here-->
